APP_NAME=DICOM Viewer API
VIEWER_TITLE=DICOM Workbench
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
DICOM_SAMPLE_DIR=./sample_dicom
DICOMWEB_MODE=proxy
DICOMWEB_BASE_URL=
ENABLE_ANALYSIS=false
